
/*@media (min-width: 992px){*/
/*中等屏幕（桌面显示器，大等于992px）*/
@media (min-width: 992px){

}
/* 媒体查询，屏幕大于768px时，背景色为red*/
@media (min-width: 768px) and (max-width: 991px){

}
/* 屏幕小于768px时，背景色为red*/
@media (max-width: 767px){


}
li{
  list-style: none;
}
.nav{
    background: #888;
    padding: 15px 0 15px;
    width: 100%;
    color: white;
    font-size: 16px
}
.ico{
    background-position: -42px -2px;
    width: 25px;
    height: 21px;
    margin-right: 8px;
    background-image: url(../img/designView/icoall.png);
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
}
.menu_ico{
    background-position:-356px -66px;
    width: 20px;
    height: 23px;
    margin: 0 3px 0 5px;
    background-image: url(../img/designView/icoall.png);
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
}
.menu ul>li:hover .menu_ico{
    background-position:-386px -66px;
}
.p1{
    background-position:-357px -99px;
}
.menu ul>li:hover .p1{
    background-position:-387px -99px;
}
.p2{
    background-position:-356px -132px;
}
.menu ul>li:hover .p2{
    background-position:-387px -99px;
}
.p3{
    background-position:-355px -166px;
}
.menu ul>li:hover .p3{
    background-position:-386px -166px;
}
.p4{
    background-position:-355px -199px;
}
.menu ul>li:hover .p4{
    background-position:-386px -199px;
}
.p5{
    background-position:-355px -232px;
}
.menu ul>li:hover .p5{
    background-position:-386px -232px;
}
.p6{
    background-position:-356px -346px;
}
.menu ul>li:hover .p6{
    background-position:-386px -346px;
}
.p7{
    background-position:-356px -381px;
}
.menu ul>li:hover .p7{
    background-position:-386px -381px;
}
.p8{
    background-position:-356px -487px;
}
.menu ul>li:hover .p8{
    background-position:-386px -487px;
}
.p9{
    background-position:-415px -187px;
}
.menu ul>li:hover .p9{
    background-position: -438px -187px;
}
.p10{
    background-position:-415px -212px;
}
.menu ul>li:hover .p10{
    background-position:-438px -212px;
}
.p11{
    background-position:-358px -415px;
}
.menu ul>li:hover .p11{
    background-position:-387px -415px;
}
.p12{
    background-position:-358px -448px;
}
.menu ul>li:hover .p12{
    background-position:-389px -448px;
}
.menu{
    background: #0095da;
    width: 1000px;
    height: 42px;
    /*float: left;*/
    padding: 6px 0;
    margin: 0 auto;
    font-size: 14px;
    color: white;
    margin-top: 15px;
    text-align: left;
}
.menu ul>li{
    float: left;
    list-style: none;
    cursor: pointer;
    color: #FFF;
    height: 30px;
    line-height: 28px;
    text-align: left;
    border-right: 1px solid #0072bc;
    padding: 0 5px;
}
.menu ul>li:hover{
    color: #f58220;
    background: #FFF;
    border-radius: 4px;
    margin: 0;
}
.menu ul>li>i:hover{

}
.content{
    width: 1000px;
    min-height: 300px;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
}
.content_div{
    width: 840px;
    margin: 0 auto;
}
.question_block{
    padding: 8px;
    border: 1px solid #fff;
    margin-top: 20px;
}
.question_block:hover{
    border:1px solid  #fdb553;
}
.block_footer{
    border-top: 1px solid grey;
}
.design-icon{
    background-image: url(//image.wjx.cn/images/Design/icoall.png?v=3);
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    height: 16px;
    width: 17px;
    margin: 0 3px 0 0;
}
.q_title{
    font-size: 24px !important;
    font-weight: bold;
    color: #f53d05;
    vertical-align: middle;
    margin: 10px auto;
    padding: 15px 0;
    line-height: 24px;
    text-align: center;

}





