@media (min-width: 806px){
    .my_nav>li>a {
        padding: 25px 15px;
        /*line-height: 60px;*/
        font-size: 18px;
    }
    .my_logo{
        font-size: 30px;
        /*height: 40px;*/
        line-height: 40px;
    }
    #my_search{
        padding: 9px 0;
    }
    .my_content{
        margin: 0 150px;

    }
}
@media (max-width: 805px){
    #my_search{
        padding: 2px 0;
    }
    .my_content{
        margin: 0 80px;
    }
}
.my_progerss{
    height: 12px;
    margin: 10px 0;
}
#gotop {
    z-index: 99;
    width: 41px;
    height: 41px;
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
/*#gotop>a{*/
    /*width: 41px;*/
    /*height: 41px;*/
    /*display: block;*/
    /*background: url("__STATIC__/img/home/mainView/top.png") no-repeat;*/
/*}*/

/*
.blank {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
    line-height: 0;
}
.wrap {
    width: 1200px;
    height: auto;
}
.ckgd {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 19px;
    display: block;
    padding: 18px 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1;
    transition: background 0.2s ease-in,color 0.1s ease-out;
}
.mod-title {
    padding-bottom: 15px;
}
.support-con {
    margin-top: 20px;
    background-repeat: no-repeat;
}
.support-con ul {
    float: left;
}
.support-con ul li {
    float: left;
    line-height: 26px;
}
.support-big .icon-sup {
    width: 95px;
    height: 95px;
    display: inline-block;
    transition: all 0.5s ease-out;
}
.support-sm .icon-sup {
    width: 57px;
    height: 61px;
    display: block;
    float: left;
    margin-top: 1px;
    margin-right: 3px;
    transition: all 0.2s ease-out;
}
*/

/*.mx_1 {*/
    /*background: url(http://localhost/zc4/app/Tpl/fanwe_1/images/images/mx_1.png) no-repeat center;*/
/*}*/

.footer {
    width: 100%;
    background: #5a5a5a;
    color: #8c8c8c;
    padding: 20px 0;
    overflow: hidden;
}



