
@media (min-width: 806px){
    .my_nav>li>a {
        padding: 25px 15px;
        /*line-height: 60px;*/
        font-size: 18px;
    }
    .my_logo{
        font-size: 30px;
        /*height: 40px;*/
        line-height: 40px;
    }
    #my_search{
        padding: 9px 0;
    }
    .my_content{
        margin: 0 150px;
    }
}
@media (max-width: 805px){
    #my_search{
        padding: 2px 0;
    }
    .my_content{
        margin: 0 80px;
    }

}

@media (min-width:1108px){
    .content_sup{
        margin: 0 150px;
    }
    .content_sup h4{
        font-size: 18px;
    }
    .content_sup p{
        font-size: 14px;
    }
}
@media (max-width: 1107px){
    .content_sup{
        margin: 0;
    }
    .content_sup h4{
        font-size: 14px;
    }
    .content_sup p{
        font-size: 12px;
    }
    .media {
        margin-top: 0;
    }
}

.my_progerss{
    height: 12px;
    margin: 10px 0;
}
/*#gotop {*/
    /*z-index: 99;*/
    /*width: 41px;*/
    /*height: 41px;*/
    /*cursor: pointer;*/
    /*position: fixed;*/
    /*right: 10px;*/
    /*bottom: 10px;*/
/*}*/
#gotop>a{
    width: 41px;
    height: 41px;
    display: block;
    background: url(../../img/home/mainView/top.png) no-repeat;
}
.thumbnail>img{
    transition: all 0.5s;
}
.thumbnail>img:hover{
    transform: scale(1.03);
}
.newProject{
    height: 320px;
    width: 800px;
}
.mx_1{
    width: 95px;
    height: 95px;
    transition: all 0.5s ease-out;
    background: url(../../img/home/mainView/mx_1.png) no-repeat center;
}
.mx_2 {
    width: 95px;
    height: 95px;
    transition: all 0.5s ease-out;
    background: url(../../img/home/mainView/mx_2.png) no-repeat center;
}
.mx_3 {
    width: 95px;
    height: 95px;
    transition: all 0.5s ease-out;
    background: url(../../img/home/mainView/mx_3.png) no-repeat center;
}
.mx_4 {
    width: 95px;
    height: 95px;
    transition: all 0.5s ease-out;
    background: url(../../img/home/mainView/mx_4.png) no-repeat center;
}
.mx_1:hover{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.mx_2:hover{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.mx_3:hover{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.mx_4:hover{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.mxr_1 {
    width: 57px;
    height: 60px;
    display: block;
    float: left;
    margin-top: 1px;
    margin-right: 3px;
    transition: all 0.2s cubic-bezier(0.39, 0.58, 0.57, 1);
    background: url(../../img/home/mainView/mxr_1.png) no-repeat;
}
.mxr_1:hover{
    background-position: 0 -61px;
}
.mxr_2 {
    width: 57px;
    height: 60px;
    display: block;
    float: left;
    margin-top: 1px;
    margin-right: 3px;
    transition: all 0.2s cubic-bezier(0.39, 0.58, 0.57, 1);
    background: url(../../img/home/mainView/mxr_2.png) no-repeat;
}
.mxr_2:hover{
    background-position: 0 -61px;
}
.mxr_3 {
    width: 57px;
    height: 60px;
    display: block;
    float: left;
    margin-top: 1px;
    margin-right: 3px;
    transition: all 0.2s cubic-bezier(0.39, 0.58, 0.57, 1);
    background: url(../../img/home/mainView/mxr_3.png) no-repeat;
}
.mxr_3:hover{
    background-position: 0 -61px;
}
.footer {
    width: 100%;
    background: #5a5a5a;
    color: #8c8c8c;
    padding: 20px 0;
    overflow: hidden;
}



