<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="__CSS__/zzsc.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/chat.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/font_Icon/iconfont.css">
</head>
<body>
<div id="myChat" style="left: 200px;"></div>
<div id="hisShow" class="contentR">
    <div id="hisContent"></div>
    <div id="page"></div>
</div>
<div>
    <div style="z-index: 10000000" class="qqserver" id="service" @click="getService">
        <div class="qqserver_fold" >
            <div></div>
        </div>
        <div class="qqserver-body" style="display: block;">
            <div class="qqserver-header" >
                <div></div>
                <!--<a href="{:url('home/Publishpro/getServiceMsg')}" ></a>-->
                <span class="qqserver_arrow" ></span>
            </div>
            <div>
                <ul>
                    <li v-for="x in serviceList" style="cursor: pointer;">
                        <div v-if="x.loginstate=='在线'" style="color: red">
                            <div  @click="showchat(x.empid,x.empname,x.headimg)">
                                <span>{{x.empname}}</span>
                                ({{x.loginstate}})
                                <!--<i>{{x.unreadcount}}</i>-->
                            </div>
                        </div>
                        <div  v-if="x.loginstate=='离线'" style="color: black">
                            <div @click="showchat(x.empid,x.empname,x.headimg)">
                                <span>{{x.empname}}</span>
                                ({{x.loginstate}})
                                <!--<i>{{x.unreadcount}}</i>-->
                            </div>
                        </div>
                        <br>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<script src="__JS__/jquery-2.1.4.js"></script>
<script src="__JS__/vue.js"></script>
<script>
   var getServiceMsgUrl = "{:url('home/publishpro/getServiceMsg')}";
   var staticUrl='__STATIC__';
   var getHisUrl = "{:url('admin/Chat/showChat')}";
</script>
<script src="__JS__/qqface.js"></script>
<script src="__JS__/page.js"></script>
<script src="__JS__/myChat.js"></script>
<script src="__JS__/zzsc.js" ></script>
<!--</html>-->