<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />

    <link rel="stylesheet" href="__CSS__/admin/font.css">
    <link rel="stylesheet" href="__CSS__/admin/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--Ztree插件-->
    <link rel="stylesheet" href="__CSS__/admin/demo.css" type="text/css">
    <link rel="stylesheet" href="__CSS__/admin/zTreeStyle.css" type="text/css">

</head>

<style>
    .layui-form-label{
        float: left;
        display: block;
        padding: 9px 15px;
        width: 120px;
        font-weight: 400;
        text-align: right;
    }
</style>
<body>
<div class="x-body" id="vueData">
    <fieldset class="layui-elem-field">
        <legend>项目类型统计</legend>

        <div style="display: inline-block;float: right;margin-right: 200px">
            <div id='setYear' style="width: 120px;float: left" class="layui-field-box">
                <select id="year">
                    <option v-for="allyear in allyear" :value="allyear.year">{{allyear.year}}</option>
                </select>
            </div>
            <div  id='zctype' style="width: 175px;float: left" class="layui-field-box">
                <select id="type">
                    <option value="普通众筹">普通众筹</option>
                    <option value="限时众筹">限时众筹</option>
                </select>
            </div>
        </div>

        <div style="display: inline-block" class="layui-field-box">
            <div id="barChart" style="width: 600px;height:400px;"></div>
        </div>

        <div style="display: inline-block" class="layui-field-box">
            <div id="pieChart" style="width: 600px;height:400px;"></div>
        </div>

    </fieldset>
</div>


</body>
<script type="text/javascript" src="__JS__/admin/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="__JS__/admin/xadmin.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="__JS__/admin/html5.min.js"></script>
<script src="__JS__/admin/respond.min.js"></script>
<![endif]-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--引用vue-->
<script src="__JS__/vue.js"></script>

<!--引用jq文件-->
<!--依赖JQ的文件在对应的放在依赖版本下引用-->
<script src="__JS__/jquery-2.1.4.js"></script>
<script src="__JS__/bootstrap.min.js"></script>

<script type="text/javascript" src="__JS__/admin/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="__JS__/admin/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="__JS__/admin/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="__JS__/jquery.cookie.js"></script>
<!--echart加载-->
<script src="__STATIC__/js/admin/echarts.js"></script>

<script type="text/javascript">

    var barChart = echarts.init(document.getElementById('barChart'));
    var pieChart = echarts.init(document.getElementById('pieChart'));


    // 使用刚指定的配置项和数据显示图表。
    //柱状图数据
    var barData = {
        title: {
            text: '柱形图',
        },
        tooltip: {},
        legend: {
            data:['数量']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: []
        }]
    };

    //饼图数据
    var pieData = {
        series : [
            {
                name: '数量',
                type: 'pie',
                radius: '55%',
                data:[
                    {value:235, name:'衬衫'},
                    {value:274, name:'羊毛衫'},
                    {value:310, name:'雪纺衫'},
                    {value:335, name:'裤子'},
                    {value:310, name:'高跟鞋'},
                    {value:335, name:'袜子'},
                    {value:400, name:'搜索引擎'}
                ]
            }
        ]};

    //初始化数据
    //所有年份
    $.ajax({
        url:"{:url('admin/datamart/zcYeras')}" ,
        data:"",
        type:"post",
        dataType:"json",
        success:function(res){
            var yearVue = new Vue({
                el: "#setYear",
                data: {
                    'allyear': res.data
                },
                //加载完成后
                mounted: function() {
                    //要查询的年份

                    $("#year").change(function(){
                        //查询某年的所有数据

                        readyLoad(this.value,'普通众筹')

                        console.log(readyLoad(this.value,'普通众筹'));
                        $( document ).ajaxComplete(function( event, request, settings ) {
                            //柱状图显示

                            barChart.setOption(barData);

                            //饼图显示
                            pieChart.setOption(pieData);
                        });
                    });
                    //获得要查询的类型
                    $("#type").change(function(){

                        console.log(this.value);

                        readyLoad(2018,this.value);
                        $( document ).ajaxComplete(function( event, request, settings ) {
                            //柱状图显示
                            barChart.setOption(barData);

                            //饼图显示
                            pieChart.setOption(pieData);
                        });
                    });
                }
            })
        }
    });



    //获取所有基础数据
    function readyLoad(year,type){
        $.ajax({
            url:"{:url('admin/datamart/getZcType')}" ,
            data:{
                'year':year,
                'type':type
            },
            type:"post",
            dataType:"json",
            //async:false,
            success:function(res){
                //对Echart数据重新绑定
                if(res.code==20007){
                    $resData = res.data;
                    for(var $i = 0;$i<res.data.length;$i++){
                        barData.xAxis.data[$i]=res.data[$i]['sortname'];
                        barData.series[0].data[$i]=res.data[$i]['cun'];
                        pieData.series[0].data[$i] = {name:res.data[$i]['sortname'],value:res.data[$i]['cun']};
                    }
                    //console.log(res);
                }
            }
        });
    }
    //页面加载时获取一次数据
    var nowtime = (new Date()).getFullYear();
    var type = '普通众筹';
    readyLoad(nowtime,type);

    //放置在ajax请求结束后执行的程序
        $( document ).ajaxComplete(function( event, request, settings ) {
            //柱状图显示
            barChart.setOption(barData);

            //饼图显示
            pieChart.setOption(pieData);
        });

</script>
</html>