<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$proid}</title>
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <style>
        .comment{
            border-bottom: 1px solid gainsboro;
            padding-bottom: 45px;
        }
        .comText{
            border-bottom: 1px solid gainsboro;
            padding: 10px 0 10px 0;
        }
        .comText span{
            margin: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="comment">
            <h4>有什么想和大家交流的?</h4>
            <textarea name="" id="comToPro" cols="30" rows="8" placeholder="输入您想要跟大家交流的内容~" style="width: 100%"></textarea>
            <div style="float: right;">
                {if !session('?zc_user')}<div><p>请登录后提问，立即 <a href="">登录</a>或 <a href="">注册</a></p></div>{/if}
                {if session('?zc_user')}<div><button type="button" class="btn btn-info" onclick="comToPro()">发布评论</button></div>{/if}
            </div>
        </div>

        {voList name="comments" id="value"}
        {if $value.commentto==0}
        <div class="comText">
            <div style="float: left">
                <img src="{$value.headimg}" alt="加载失败">
            </div>
            <div style="">
                <p><span>{$value.username}：</span><span>{$value.content}</span></p>
                <p><span>{$value.ctime}</span><span>回复</span></p>
            </div>
        </div>
        {/if}
        {/voList}
    </div>
</body>
<script src="__JS__/jquery-2.1.4.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/vue.js"></script>
<script>
    //对项目评论
    function comToPro(){
        var comToPro=$('#comToPro').val();
        var proid=$(document).attr("title");
        $.ajax({
            url:'comment',
            type:'post',
            data:{comment:comToPro,proid:proid},
            dataType:'json',
            success:function(res){
                if(res.code==30001){
                    alert(res.msg);
                    //评论成功，刷新页面
                    location.reload(true);
                }else {
                    alert(res.msg);
                }
            }
        });
    }
</script>
</html>