<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />

    <link rel="stylesheet" href="__CSS__/admin/font.css">
    <link rel="stylesheet" href="__CSS__/admin/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--&lt;!&ndash;Ztree插件&ndash;&gt;-->
    <!--<link rel="stylesheet" href="__CSS__/admin/demo.css" type="text/css">-->
    <!--<link rel="stylesheet" href="__CSS__/admin/zTreeStyle.css" type="text/css">-->

</head>

<style>
    .layui-form-label{
        float: left;
        display: block;
        padding: 9px 15px;
        width: 120px;
        font-weight: 400;
        text-align: right;
    }

</style>
<body>
<div class="x-body">
    <fieldset class="layui-elem-field">
        <legend>Banner轮播更新</legend>
        <!--前台轮播广告预览-->
                <table border="1px soild gray">
                    <tr>
                        <td>广告图片</td><td>广告有效时间</td><td>广告状态</td><td>修改</td><td>删除</td>
                    </tr>
                    {volist name='adList' id='vo' key="k"}
                    <tr style="text-align: center">
                        <td style="width: 60%;height: 80%"><img alt="" width="100%" height="50%" src="__STATIC__/{$vo.adimg}"/></td>
                        <td style="width: 22%">
                            {$vo.starttime} - {$vo.endtime}
                        </td>
                        <td>
                            {$vo.state}
                        </td>
                        <td style="text-align: center"><a onclick="adEdti(this)" href="" adid="{$vo.adid}" data-toggle="modal" data-target="#modalEdit">修改</a></td>
                        <td style="text-align: center"><a onclick="adDel(this)" href="" adid="{$vo.adid}" data-toggle="modal" data-target="#modalDel">删除</a></td>
                    </tr>
                    {/volist}
                </table>
    </fieldset>
</div>
<!---->
    <!--修改-->
    <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabelEdit">广告修改</h4>
                    <!-------------------------------------------------------->
                </div>
                <div id="editData" class="modal-body">
                    <div>
                        <img :src="src" alt="" style="width: 100%">
                    </div>

                    <div id='showEdit' style="width: 568px;height: 138px"></div>
                    <div class="layui-form-item">
                        <label for="adimgEdit" class="layui-form-label">
                            图片
                        </label>
                        <div>
                            <input name="adimgEdit" id="adimgEdit" type="file" accept="image/gif,image/jpeg,image/jpg,image/png">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="detailsEdit" class="layui-form-label">
                            详情
                        </label>
                        <div class="layui-input-inline">
                            <textarea id="detailsEdit" style="width: 379px;height: 200px">{{editData[0]['addetails']}}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="starttimeEdit" class="layui-form-label">
                            <span class="x-red">*</span>期限
                        </label>
                        <input id="starttimeEdit" type="datetime-local" :value="starttime">
                        -
                        <input id="endtimeEdit" type="datetime-local" :value="endtime">
                    </div>
                </div>
                <!---->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="adEdit" type="button" class="btn layui-btn">确认修改</button>
                </div>
            </div>
        </div>
    </div>

    <!--删除-->
    <div class="modal fade" id="modalDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabelDel">广告删除</h4>
                    <!-------------------------------------------------------->
                </div>
                <!---->
            </div>
            <div id="delData" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="adDel" type="button" class="btn layui-btn">确认删除</button>
            </div>
        </div>
    </div>

    <!--添加广告-->
    <div style="text-align: center" class="layui-form-item">
        <button class="btn layui-btn" data-toggle="modal" data-target="#modalAdd" style="width: 30%" lay-filter="add">
            添加广告
        </button>
    </div>
    <!--模态框显示增加菜单-->
    <!-- Modal -->
    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabelAdd">广告添加</h4>
                    <!--------------------------添加新广告------------------------------>
                <!---->
                </div>
                <div class="modal-body">
                    <div id='showAdd'></div>
                    图片
                    <br>
                    <input id="adimgAdd" multiple type="file">
                    <br>
                    <input id="detailsAdd" type="text" placeholder="详情">
                    <br>
                    期限
                    <br>
                    <input id="starttimeAdd" type="datetime-local">
                    -
                    <input id="endtimeAdd" type="datetime-local">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="adAdd" type="button" class="btn layui-btn">确认添加</button>
                </div>
            </div>
        </div>
    </div>
<!---->

</body>
<script type="text/javascript" src="__JS__/admin/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="__JS__/admin/xadmin.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="__JS__/admin/html5.min.js"></script>
<script src="__JS__/admin/respond.min.js"></script>
<![endif]-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--引用vue-->
<script src="__JS__/vue.js"></script>

<!--引用jq文件-->
<!--依赖JQ的文件在对应的放在依赖版本下引用-->
<script src="__JS__/jquery-2.1.4.js"></script>
<script src="__JS__/bootstrap.min.js"></script>

<script type="text/javascript" src="__JS__/admin/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="__JS__/admin/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="__JS__/admin/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="__JS__/jquery.cookie.js"></script>

<script>
    //修改
    function adEdti(obj){
        $editId = $(obj).attr('adid');
        $.ajax({
            url:"{:url('admin/Frontmanager/adeditdata')}",
            data:"editId="+$editId,
            type:"post",
            dataType:"json",
            success:function(res){
                var empVue = new Vue({
                    el:"#editData",
                    data:{
                        'editData':res.data,
                        'src':'__STATIC__/'+res.data[0]['adimg'],
                        'starttime':res.data[0]['starttime'],
                        'endtime':res.data[0]['endtime']
                    },

                    created: function () {
                        this.starttime = this.starttime.replace(' ', 'T');//替换数据库内的字符串更改为datetime-local可识别形式
                        this.endtime = this.endtime.replace(' ', 'T');
                    },
                    mounted: function() {
                        $("#adimgEdit").change(function () {
                            var fil = this.files;
                            for (var i = 0; i < fil.length; i++) {
                                reads(fil[i]);
                            }
                        });
                    }
                })
            }
        });
    }

    $("#adEdit").click(function(){
        $startT = ($("#starttimeEdit").val()).replace('T',' ');//获得时间
        $endT = ($("#endtimeEdit").val()).replace('T',' ');
        $nowT = Date.parse(new Date());
        $endStr =  Date.parse($endT);//转换时间格式(时间戳)
        $startStr = Date.parse($startT);
        //以上是时间的处理
        $newdetails = $("#detailsEdit").val();
        console.log($newdetails);
        if($endStr<$nowT){
            $check = confirm("若结束时间小于当前时间,该广告将会下架!!");
            //确定发送数据更新数据库
            if($check){
                $.ajax({
                    url:"{:url('admin/backmanager/updata')}",
                    data:{
                        'name':'adminEdit',
                        'details':$newdetails,
                        'start':$startStr,
                        'end':$endStr
                    },
                    type:'post',
                    dataType:'json',
                    success:function(res){
                        console.log(res);
                        alert(res.msg);
                        window.location.reload();
                    }
                });
            }
        }
    });

//删除
    function adDel(obj){
        $delId = $(obj).attr('adid');
        $.ajax({
            url:"{:url('admin/Frontmanager/addeldata')}",
            data:"delId:"+$delId,
            type:"post",
            dataType:"json",
            success:function(res){
                var empVue = new Vue({
                    el:"#delData",
                    data:{
                        'delData':res.data
                    },
                    created: function () {
                    },
                    beforeUpdate: function() {
                    },
                    updated: function() {

                    }
                })
            }
        });
    }

    function reads(fil){
        var reader = new FileReader();
        reader.readAsDataURL(fil);
        reader.onload = function()
        {
            document.getElementById("showEdit").innerHTML =  "<img src='"+reader.result+"'>";
        };
    }


    //添加

</script>
</html>