<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>项目详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="__CSS__/admin/font.css">
    <link rel="stylesheet" href="__CSS__/admin/xadmin.css">
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/prolog.css">
</head>
<body>

<div id="vueDiv" class="container">
    <h4>项目详情</h4>
    <table class="table table-bordered" style="font-size: 16px">
        <tr>
            <td width="100">项目名称</td>
            <td>{$order.projectname}</td>
        </tr>
        <tr>
            <td>应付金额</td>
            <td>￥{$order.ordersprice*$order.ordersnum}</td>
        </tr>
        <tr>
            <td>支付时间</td>
            <td>{$order.orderstime}</td>
        </tr>
        <tr>
            <td>订单情况</td>
            <td>{$order.orderstate}</td>
        </tr>
        <tr>
            <td>回报详情</td>
            <td>{$order.introduce}</td>
        </tr>
    </table>
    <hr>
    <h4>项目进展</h4>
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div role="tabpanel" class="tab-pane" id="progress">
                {volist name="prolog" id="log"}
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"><div class="glyphicon glyphicon-record"></div></i>
                        <div class="layui-timeline-content layui-text">
                            <h5 class="layui-timeline-title">{$log.logtime}</h5>
                            <div class="logcontent">
                                <p>
                                    {$log.prologinfo}
                                </p>
                                <img src="__STATIC__/{$log.logimg}" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
                {/volist}
            </div>
        </div>
    </div>



</div>
</body>
<script src="__JS__/jquery-2.1.4.js"></script>
<script src="__JS__/vue.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script>

</script>
</html>