<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>确认订单</title>
</head>
<style>
    .center{
        padding: 5px;
        background-color: #fff;
    }
</style>
<body style="background: #f9f9f9;">
{include file="public/nav"}
<div class="center container">
    <div>
        <div>
            <img src="" alt="" style="width: 80px;height: 80px;border: 1px solid gainsboro">图片
        </div>
        <div style="margin-left: 20px">
            <h4>项目名(档位￥价格)</h4>
            <p>回报介绍</p>
        </div>
    </div>
    <hr>
    <div>
        <div><h5>收货地址</h5></div>
        <div>地址列表</div>
        <hr>
        <div><h5>支付信息</h5></div>
    </div>

</div>
{include file="public/footer"}
</body>
</html>